n8n_Workflows/Regulatory_Scanning_Agent/Mycroft - Financial Regulatory Intelligence System.json
{
  "name": "Mycroft - Financial Regulatory Intelligence System - Complete",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.federalregister.gov/api/v1/documents.rss?conditions%5Bterm%5D=securities+investment",
        "options": {}
      },
      "name": "Federal Register - Securities",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -1616,
        32
      ],
      "id": "02fe016e-67b3-4371-b58a-a942ebca56a5"
    },
    {
      "parameters": {
        "url": "https://www.sec.gov/news/pressreleases.rss",
        "options": {}
      },
      "name": "SEC Press Releases",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -1616,
        224
      ],
      "id": "720f508b-37e3-4afc-9651-b0d75216d1aa"
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=FINRA+regulatory+enforcement&hl=en-US&gl=US&ceid=US:en",
        "options": {}
      },
      "name": "FINRA Enforcement News",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -1616,
        416
      ],
      "id": "4cd387c9-31e2-45a0-bb9c-e5650e30fd6e"
    },
    {
      "parameters": {
        "url": "https://www.federalregister.gov/api/v1/documents.rss?conditions%5Bagencies%5D%5B%5D=commodity-futures-trading-commission",
        "options": {}
      },
      "name": "CFTC Regulations",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -1616,
        608
      ],
      "id": "6e5a10ac-9f32-44ee-a027-001c23dad9ab"
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=investment+advisor+regulation+SEC&hl=en-US&gl=US&ceid=US:en",
        "options": {}
      },
      "name": "Investment Advisor Rules",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -1616,
        800
      ],
      "id": "fd6b5a91-51f7-4a0f-bd09-0b9571603271"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1392,
        368
      ],
      "id": "4cf107f7-53ae-42d4-a300-43c768762464",
      "name": "Merge All Sources"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\n// Map to identify source from link patterns\nconst identifySource = (link, title) => {\n  if (link.includes('federalregister.gov') && (link.includes('securities') || title.toLowerCase().includes('securities'))) return 'Federal Register - Securities';\n  if (link.includes('sec.gov')) return 'SEC Press Releases';\n  if (title.includes('FINRA') || link.includes('finra')) return 'FINRA Enforcement News';\n  if (link.includes('cftc.gov') || link.includes('commodity-futures')) return 'CFTC Regulations';\n  if (title.toLowerCase().includes('investment advisor') || title.toLowerCase().includes('investment adviser')) return 'Investment Advisor Rules';\n  return 'Unknown Source';\n};\n\nfor (const item of items) {\n  const json = item.json;\n  \n  results.push({\n    json: {\n      source: json.creator || json.author || 'Unknown',\n      source_feed: identifySource(json.link || '', json.title || ''),\n      title: json.title || '',\n      link: json.link || '',\n      published: json.pubDate || json.published || json.isoDate || new Date().toISOString(),\n      content: json.content || json.contentSnippet || json.description || '',\n      scraped_at: new Date().toISOString()\n    }\n  });\n}\n\nreturn results;"
      },
      "name": "Normalize Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1168,
        416
      ],
      "id": "924fe219-f9b6-48fa-b1f7-a6611063eca5"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.content}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json.title}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Filter Valid Content",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -944,
        416
      ],
      "id": "6da4e470-dcc9-4998-bf6e-d5a467ae015f"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "link",
        "options": {}
      },
      "name": "Deduplicate by Link",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1,
      "position": [
        -720,
        416
      ],
      "id": "b8465b52-8097-4935-9aca-2396fcd2cf6c"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\n// Financial regulatory keywords to track\nconst keywordCategories = {\n  enforcement: ['enforcement', 'penalty', 'fine', 'violation', 'sanctioned', 'charged', 'settled'],\n  compliance: ['compliance', 'audit', 'examination', 'reporting', 'disclosure', 'filing'],\n  crypto: ['cryptocurrency', 'crypto', 'bitcoin', 'blockchain', 'digital asset', 'token'],\n  securities: ['securities', 'investment advisor', 'investment adviser', 'broker-dealer', 'mutual fund', 'etf'],\n  derivatives: ['derivatives', 'futures', 'options', 'swap', 'cftc', 'commodity'],\n  fraud: ['fraud', 'misrepresentation', 'ponzi', 'manipulation', 'insider trading', 'scheme']\n};\n\nfunction extractKeywords(text) {\n  const lowerText = text.toLowerCase();\n  const matched = {};\n  \n  for (const [category, keywords] of Object.entries(keywordCategories)) {\n    matched[category] = keywords.some(kw => lowerText.includes(kw));\n  }\n  \n  return matched;\n}\n\nfunction calculateBasicUrgency(title, content) {\n  const text = (title + ' ' + content).toLowerCase();\n  let score = 5; // baseline\n  \n  // Urgency indicators\n  if (text.includes('immediate') || text.includes('emergency')) score += 3;\n  if (text.includes('deadline') || text.includes('must comply') || text.includes('effective date')) score += 2;\n  if (text.includes('enforcement') || text.includes('penalty') || text.includes('fine')) score += 2;\n  if (text.includes('new rule') || text.includes('proposed rule') || text.includes('final rule')) score += 1;\n  if (text.includes('fraud') || text.includes('manipulation')) score += 2;\n  if (text.includes('cease and desist') || text.includes('suspension')) score += 3;\n  \n  return Math.min(score, 10);\n}\n\nfunction determineImpactLevel(urgencyScore, isEnforcement, isFraud) {\n  if (urgencyScore >= 9 || isFraud) return 'Critical';\n  if (urgencyScore >= 7 || isEnforcement) return 'High';\n  if (urgencyScore >= 5) return 'Medium';\n  return 'Low';\n}\n\nfor (const item of items) {\n  const json = item.json;\n  const fullText = `${json.title} ${json.content}`;\n  const keywordMatches = extractKeywords(fullText);\n  const urgencyScore = calculateBasicUrgency(json.title, json.content);\n  \n  results.push({\n    json: {\n      ...json,\n      keyword_matches: keywordMatches,\n      urgency_score: urgencyScore,\n      impact_level: determineImpactLevel(urgencyScore, keywordMatches.enforcement, keywordMatches.fraud),\n      word_count: json.content.split(' ').length,\n      has_deadline: fullText.toLowerCase().includes('deadline'),\n      is_enforcement: keywordMatches.enforcement,\n      categories: Object.entries(keywordMatches).filter(([k, v]) => v).map(([k]) => k)\n    }\n  });\n}\n\nreturn results;"
      },
      "name": "Keyword Analysis & Urgency Scoring",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        416
      ],
      "id": "7972e646-86de-4b8b-b607-f8665b782870"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst highPriority = items.filter(i => i.json.urgency_score > 7);\nconst enforcement = items.filter(i => i.json.is_enforcement);\nconst crypto = items.filter(i => i.json.keyword_matches?.crypto);\nconst withDeadlines = items.filter(i => i.json.has_deadline);\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { \n      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;\n      max-width: 1000px; \n      margin: 40px auto; \n      background: #f5f5f5;\n      padding: 20px;\n    }\n    .header { \n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); \n      color: white; \n      padding: 40px; \n      border-radius: 15px;\n      box-shadow: 0 10px 30px rgba(0,0,0,0.2);\n    }\n    .header h1 { margin: 0 0 10px 0; font-size: 32px; }\n    .header p { margin: 0; opacity: 0.9; }\n    .stat-container {\n      display: grid;\n      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));\n      gap: 20px;\n      margin: 30px 0;\n    }\n    .stat-box { \n      background: white;\n      padding: 25px; \n      border-radius: 12px;\n      box-shadow: 0 4px 6px rgba(0,0,0,0.1);\n      text-align: center;\n    }\n    .stat-box h3 { \n      margin: 0 0 10px 0; \n      font-size: 36px; \n      color: #667eea;\n    }\n    .stat-box p { \n      margin: 0; \n      color: #666;\n      font-size: 14px;\n      text-transform: uppercase;\n      letter-spacing: 1px;\n    }\n    .section {\n      background: white;\n      padding: 30px;\n      margin: 20px 0;\n      border-radius: 12px;\n      box-shadow: 0 4px 6px rgba(0,0,0,0.1);\n    }\n    .section h2 { \n      margin: 0 0 20px 0; \n      color: #333;\n      font-size: 24px;\n      border-bottom: 3px solid #667eea;\n      padding-bottom: 10px;\n    }\n    .item { \n      border-left: 4px solid #667eea; \n      padding: 20px; \n      margin: 15px 0; \n      background: #f9f9f9;\n      border-radius: 0 8px 8px 0;\n      transition: transform 0.2s;\n    }\n    .item:hover {\n      transform: translateX(5px);\n    }\n    .item h3 { \n      margin: 0 0 10px 0; \n      color: #333;\n      font-size: 18px;\n    }\n    .item .meta {\n      color: #666;\n      font-size: 13px;\n      margin: 10px 0;\n    }\n    .item .meta span {\n      background: #e0e7ff;\n      padding: 4px 10px;\n      border-radius: 4px;\n      margin-right: 8px;\n      display: inline-block;\n      margin-bottom: 5px;\n    }\n    .item a { \n      color: #667eea; \n      text-decoration: none;\n      font-weight: 600;\n    }\n    .item a:hover { \n      text-decoration: underline; \n    }\n    .urgent { \n      border-left-color: #dc2626;\n      background: #fef2f2;\n    }\n    .critical-badge {\n      background: #dc2626;\n      color: white;\n      padding: 4px 12px;\n      border-radius: 4px;\n      font-size: 12px;\n      font-weight: bold;\n      display: inline-block;\n      margin-left: 10px;\n    }\n    .high-badge {\n      background: #ea580c;\n      color: white;\n      padding: 4px 12px;\n      border-radius: 4px;\n      font-size: 12px;\n      font-weight: bold;\n      display: inline-block;\n      margin-left: 10px;\n    }\n    .footer {\n      text-align: center;\n      color: #888;\n      font-size: 12px;\n      margin-top: 40px;\n      padding: 20px;\n    }\n    .chart-bar {\n      background: #e0e7ff;\n      height: 30px;\n      border-radius: 5px;\n      margin: 10px 0;\n      position: relative;\n      overflow: hidden;\n    }\n    .chart-fill {\n      background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);\n      height: 100%;\n      display: flex;\n      align-items: center;\n      padding: 0 10px;\n      color: white;\n      font-weight: 600;\n      font-size: 12px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>📊 Mycroft Regulatory Intelligence</h1>\n    <p>Daily Digest - ${new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}</p>\n  </div>\n  \n  <div class=\"stat-container\">\n    <div class=\"stat-box\">\n      <h3>${items.length}</h3>\n      <p>Total Updates</p>\n    </div>\n    <div class=\"stat-box\">\n      <h3>${highPriority.length}</h3>\n      <p>High Priority</p>\n    </div>\n    <div class=\"stat-box\">\n      <h3>${enforcement.length}</h3>\n      <p>Enforcement</p>\n    </div>\n    <div class=\"stat-box\">\n      <h3>${crypto.length}</h3>\n      <p>Crypto Related</p>\n    </div>\n    <div class=\"stat-box\">\n      <h3>${withDeadlines.length}</h3>\n      <p>With Deadlines</p>\n    </div>\n  </div>\n  \n  <div class=\"section\">\n    <h2>📈 Source Distribution</h2>\n    ${Object.entries(items.reduce((acc, item) => {\n      acc[item.json.source_feed] = (acc[item.json.source_feed] || 0) + 1;\n      return acc;\n    }, {})).sort((a, b) => b[1] - a[1]).map(([source, count]) => {\n      const percentage = (count / items.length * 100).toFixed(1);\n      return `\n        <div style=\"margin: 15px 0;\">\n          <div style=\"display: flex; justify-content: space-between; margin-bottom: 5px;\">\n            <strong>${source}</strong>\n            <span>${count} items (${percentage}%)</span>\n          </div>\n          <div class=\"chart-bar\">\n            <div class=\"chart-fill\" style=\"width: ${percentage}%\">\n              ${percentage}%\n            </div>\n          </div>\n        </div>\n      `;\n    }).join('')}\n  </div>\n  \n  ${highPriority.length > 0 ? `\n  <div class=\"section\">\n    <h2>🚨 High Priority Items</h2>\n    ${highPriority.slice(0, 10).map(item => `\n      <div class=\"item urgent\">\n        <h3>\n          ${item.json.title}\n          ${item.json.impact_level === 'Critical' ? '<span class=\"critical-badge\">CRITICAL</span>' : ''}\n          ${item.json.impact_level === 'High' ? '<span class=\"high-badge\">HIGH</span>' : ''}\n        </h3>\n        <div class=\"meta\">\n          <span>📍 ${item.json.source_feed}</span>\n          <span>⚡ Urgency: ${item.json.urgency_score}/10</span>\n          <span>📊 Impact: ${item.json.impact_level}</span>\n          ${item.json.has_deadline ? '<span style=\"background: #fecaca;\">⏰ Has Deadline</span>' : ''}\n        </div>\n        ${item.json.categories.length > 0 ? `\n          <div class=\"meta\">\n            ${item.json.categories.map(cat => `<span style=\"background: #dbeafe;\">🏷️ ${cat}</span>`).join('')}\n          </div>\n        ` : ''}\n        <p>${item.json.content.substring(0, 250)}...</p>\n        <a href=\"${item.json.link}\" target=\"_blank\">Read Full Update →</a>\n      </div>\n    `).join('')}\n  </div>\n  ` : ''}\n  \n  ${enforcement.length > 0 ? `\n  <div class=\"section\">\n    <h2>⚖️ Recent Enforcement Actions</h2>\n    ${enforcement.slice(0, 8).map(item => `\n      <div class=\"item\">\n        <h3>${item.json.title}</h3>\n        <div class=\"meta\">\n          <span>📍 ${item.json.source_feed}</span>\n          <span>📅 ${new Date(item.json.published).toLocaleDateString()}</span>\n        </div>\n        <a href=\"${item.json.link}\" target=\"_blank\">Read More →</a>\n      </div>\n    `).join('')}\n  </div>\n  ` : ''}\n  \n  ${crypto.length > 0 ? `\n  <div class=\"section\">\n    <h2>₿ Cryptocurrency & Digital Assets</h2>\n    ${crypto.slice(0, 5).map(item => `\n      <div class=\"item\">\n        <h3>${item.json.title}</h3>\n        <div class=\"meta\">\n          <span>📍 ${item.json.source_feed}</span>\n          <span>⚡ Urgency: ${item.json.urgency_score}/10</span>\n        </div>\n        <a href=\"${item.json.link}\" target=\"_blank\">Read More →</a>\n      </div>\n    `).join('')}\n  </div>\n  ` : ''}\n  \n  ${withDeadlines.length > 0 ? `\n  <div class=\"section\">\n    <h2>⏰ Items with Compliance Deadlines</h2>\n    ${withDeadlines.slice(0, 5).map(item => `\n      <div class=\"item\" style=\"border-left-color: #f59e0b;\">\n        <h3>${item.json.title}</h3>\n        <div class=\"meta\">\n          <span>📍 ${item.json.source_feed}</span>\n          <span style=\"background: #fef3c7;\">⏰ Contains Deadline Information</span>\n        </div>\n        <a href=\"${item.json.link}\" target=\"_blank\">Read More →</a>\n      </div>\n    `).join('')}\n  </div>\n  ` : ''}\n  \n  <div class=\"footer\">\n    <p>Generated by Mycroft Regulatory Intelligence System</p>\n    <p>Powered by n8n Automation | ${new Date().toISOString()}</p>\n  </div>\n</body>\n</html>\n`;\n\n// Convert HTML to binary buffer\nconst buffer = Buffer.from(html, 'utf-8');\nconst filename = `mycroft-report-${new Date().toISOString().split('T')[0]}.html`;\n\nreturn [{\n  json: {\n    report_date: new Date().toISOString(),\n    total_items: items.length,\n    filename: filename\n  },\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'text/html',\n      fileName: filename,\n      fileExtension: 'html'\n    }\n  }\n}];"
      },
      "name": "Generate HTML Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        608
      ],
      "id": "1f3232d4-4ca8-427d-bfa9-b0fafdf828eb"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.urgency_score}}",
              "operation": "larger",
              "value2": 7
            }
          ],
          "string": [
            {
              "value1": "={{$json.impact_level}}",
              "value2": "Critical"
            },
            {
              "value1": "={{$json.impact_level}}",
              "value2": "High"
            }
          ]
        },
        "combineOperation": "any"
      },
      "name": "High Priority Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -272,
        416
      ],
      "id": "0e63cdf3-9ce0-4fea-8df3-b5bcda6461f5"
    },
    {
      "parameters": {
        "fromEmail": "darshan.ai.assistant@gmail.com",
        "toEmail": "therrshan@gmail.com",
        "subject": "=🚨 Regulatory Analysis Completed {{ $now}}",
        "html": "={{ $json.html_email }}",
        "options": {}
      },
      "name": "Send Email Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        624,
        512
      ],
      "id": "fe948ae8-7695-4d24-899e-bdfc1f22ed96",
      "webhookId": "73dbdd8b-1175-4d71-a99d-6cbda8787ba1",
      "credentials": {
        "smtp": {
          "id": "XAW5G0VW94WuhmDQ",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/report_{{ $node['Generate HTML Report'].json.report_date }}.html",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -48,
        608
      ],
      "id": "d029822f-e514-49a9-b849-7c7316e29469",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d4a2a6bd-ab4b-401d-bb19-d681a07b3390",
              "leftValue": "={{ $json.has_items }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        416
      ],
      "id": "755f0db2-ac42-4d43-8b4f-7ee5f67c5b4d",
      "name": "If"
    },
    {
      "parameters": {
        "fromEmail": "darshan.ai.assistant@gmail.com",
        "toEmail": "therrshan@gmail.com",
        "subject": "=Analysis Completed : {{ $now.toLocaleString() }}",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif; line-height: 1.6; color: #333; margin: 0; padding: 0; background: #f5f5f5;\">\n  <div style=\"background: white; max-width: 800px; margin: 20px auto; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 12px rgba(0,0,0,0.1);\">\n    \n    <!-- Header -->\n    <div style=\"background: linear-gradient(135deg, #10b981 0%, #059669 100%); color: white; padding: 40px 30px; text-align: center;\">\n      <h1 style=\"margin: 0 0 10px 0; font-size: 28px; font-weight: 700;\">✅ Mycroft Regulatory Intelligence</h1>\n      <p style=\"margin: 0; font-size: 16px; opacity: 0.95;\">Daily Status Update</p>\n    </div>\n    \n    <!-- No Items Message -->\n    <div style=\"padding: 60px 40px; text-align: center; background: #f9fafb;\">\n      <div style=\"font-size: 80px; margin-bottom: 20px;\">✅</div>\n      <h2 style=\"color: #059669; margin: 0 0 15px 0; font-size: 28px; font-weight: 700;\">All Clear!</h2>\n      <p style=\"color: #4b5563; font-size: 18px; margin: 0 0 10px 0; font-weight: 500;\">No new high-priority regulatory items detected.</p>\n      <p style=\"color: #6b7280; font-size: 15px; margin: 20px 0 0 0; line-height: 1.6;\">\n        The system has completed its latest scan of SEC, FINRA, CFTC, and Federal Register feeds.<br>\n        No critical or high-priority alerts require your attention at this time.\n      </p>\n    </div>\n    \n    <!-- Monitored Sources -->\n    <div style=\"padding: 30px;\">\n      <h3 style=\"color: #374151; font-size: 18px; margin: 0 0 20px 0; text-align: center;\">Monitored Sources</h3>\n      <div style=\"display: grid; grid-template-columns: 1fr 1fr; gap: 15px;\">\n        <div style=\"padding: 15px; background: #f9fafb; border-radius: 6px; border: 1px solid #e5e7eb;\">\n          <div style=\"font-weight: 600; color: #374151; margin-bottom: 4px;\">📰 SEC Press Releases</div>\n          <div style=\"font-size: 13px; color: #6b7280;\">Securities & Exchange Commission</div>\n        </div>\n        <div style=\"padding: 15px; background: #f9fafb; border-radius: 6px; border: 1px solid #e5e7eb;\">\n          <div style=\"font-weight: 600; color: #374151; margin-bottom: 4px;\">📋 Federal Register</div>\n          <div style=\"font-size: 13px; color: #6b7280;\">Securities & Investment Rules</div>\n        </div>\n        <div style=\"padding: 15px; background: #f9fafb; border-radius: 6px; border: 1px solid #e5e7eb;\">\n          <div style=\"font-weight: 600; color: #374151; margin-bottom: 4px;\">⚖️ FINRA Enforcement</div>\n          <div style=\"font-size: 13px; color: #6b7280;\">Self-Regulatory Actions</div>\n        </div>\n        <div style=\"padding: 15px; background: #f9fafb; border-radius: 6px; border: 1px solid #e5e7eb;\">\n          <div style=\"font-weight: 600; color: #374151; margin-bottom: 4px;\">📊 CFTC Regulations</div>\n          <div style=\"font-size: 13px; color: #6b7280;\">Commodity & Derivatives</div>\n        </div>\n      </div>\n    </div>\n    \n    <!-- Footer -->\n    <div style=\"background: #1f2937; color: #9ca3af; padding: 30px; text-align: center;\">\n      <p style=\"margin: 0 0 5px 0; font-size: 14px;\"><strong style=\"color: white;\">Mycroft Financial Intelligence System</strong></p>\n      <p style=\"margin: 0; font-size: 12px; opacity: 0.7;\">Automated Regulatory Monitoring & Analysis</p>\n      <p style=\"margin: 10px 0 0 0; font-size: 11px; opacity: 0.6;\">⏰ Generated: {{ $now.toLocaleString()}}</p>\n    </div>\n    \n  </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        624,
        320
      ],
      "id": "81a902a4-5ae4-493a-a8ee-a719d6a4bb6d",
      "name": "Send email",
      "webhookId": "189c3e06-3834-4ff7-be6a-21be895e047b",
      "credentials": {
        "smtp": {
          "id": "XAW5G0VW94WuhmDQ",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "name": "Schedule Every Day",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1840,
        416
      ],
      "id": "ddb28f52-8471-4d7a-a054-d14a1a6f71e2"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const json = item.json;\n  \n  results.push({\n    json: {\n      ...json,\n      // Escape single quotes in text fields\n      source: json.source.replace(/'/g, \"''\"),\n      title: json.title.replace(/'/g, \"''\"),\n      content: json.content.replace(/'/g, \"''\"),\n      // Convert JSONB fields to properly escaped JSON strings\n      keyword_matches_str: JSON.stringify(json.keyword_matches).replace(/'/g, \"''\"),\n      categories_str: JSON.stringify(json.categories).replace(/'/g, \"''\")\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        224
      ],
      "id": "f808b0ce-3c05-42da-bc64-e770a3dd984b",
      "name": "Prepare Data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO regulatory_feeds (\n  source_feed,\n  source,\n  title,\n  link,\n  published,\n  content,\n  urgency_score,\n  impact_level,\n  keyword_matches,\n  categories,\n  word_count,\n  has_deadline,\n  is_enforcement,\n  scraped_at\n) VALUES (\n  '{{ $json.source_feed }}',\n  '{{ $json.source }}',\n  '{{ $json.title }}',\n  '{{ $json.link }}',\n  '{{ $json.published }}',\n  '{{ $json.content }}',\n  {{ $json.urgency_score }},\n  '{{ $json.impact_level }}',\n  '{{ $json.keyword_matches_str }}',\n  '{{ $json.categories_str }}',\n  {{ $json.word_count }},\n  {{ $json.has_deadline }},\n  {{ $json.is_enforcement }},\n  '{{ $json.scraped_at }}'\n)\nON CONFLICT (link) DO UPDATE SET\n  urgency_score = EXCLUDED.urgency_score,\n  impact_level = EXCLUDED.impact_level,\n  scraped_at = EXCLUDED.scraped_at\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -48,
        224
      ],
      "id": "5e32a4c6-2cca-4ce1-a6f8-ceea9b161af1",
      "name": "Insert data into DB",
      "credentials": {
        "postgres": {
          "id": "bbRl0wBIwYpgwuoE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH new_items AS (\n  SELECT * FROM regulatory_feeds\n  WHERE (urgency_score > 7 OR impact_level IN ('Critical', 'High'))\n  AND email_sent = FALSE\n  AND created_at >= NOW() - INTERVAL '1 day'\n  ORDER BY urgency_score DESC, created_at DESC\n)\nSELECT * from new_items",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -48,
        416
      ],
      "id": "4581ecf3-8659-4f14-afb3-72ad86cd6331",
      "name": "Fetch new items",
      "credentials": {
        "postgres": {
          "id": "bbRl0wBIwYpgwuoE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const newItems = $input.all();\n\nconst hasData = newItems && newItems.length > 1 && newItems[0].json && Object.keys(newItems[0].json).length > 1;\n\nif (!hasData) {\n  return [{\n    json: {\n      has_items: false,\n      item_count: 0,\n      items: []\n    }\n  }];\n}\n\n// If no new high priority items, return empty to skip email\nif (newItems.length === 0) {\n  return [];\n}\n\nconst highPriority = newItems.filter(i => i.json.urgency_score > 7);\nconst criticalItems = newItems.filter(i => i.json.impact_level === 'Critical');\nconst highItems = newItems.filter(i => i.json.impact_level === 'High');\n\nconst htmlEmail = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif; line-height: 1.6; color: #333; margin: 0; padding: 0; background: #f5f5f5;\">\n  <div style=\"background: white; max-width: 800px; margin: 20px auto; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 12px rgba(0,0,0,0.1);\">\n    \n    <!-- Header -->\n    <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 40px 30px; text-align: center;\">\n      <h1 style=\"margin: 0 0 10px 0; font-size: 28px; font-weight: 700;\">🚨 Mycroft Regulatory Intelligence</h1>\n      <p style=\"margin: 0; font-size: 16px; opacity: 0.95;\">New High Priority Alerts</p>\n    </div>\n    \n    <!-- Summary Stats -->\n    <table style=\"width: 100%; background: #f8f9fa; border-collapse: collapse;\">\n      <tr>\n        <td style=\"padding: 25px 20px; text-align: center; border-right: 1px solid #e0e0e0;\">\n          <div style=\"font-size: 36px; font-weight: 700; color: #667eea; margin: 0 0 8px 0;\">${newItems.length}</div>\n          <div style=\"font-size: 13px; color: #666; text-transform: uppercase; letter-spacing: 1px; font-weight: 600;\">New Items</div>\n        </td>\n        <td style=\"padding: 25px 20px; text-align: center; border-right: 1px solid #e0e0e0;\">\n          <div style=\"font-size: 36px; font-weight: 700; color: #dc2626; margin: 0 0 8px 0;\">${criticalItems.length}</div>\n          <div style=\"font-size: 13px; color: #666; text-transform: uppercase; letter-spacing: 1px; font-weight: 600;\">Critical</div>\n        </td>\n        <td style=\"padding: 25px 20px; text-align: center;\">\n          <div style=\"font-size: 36px; font-weight: 700; color: #ea580c; margin: 0 0 8px 0;\">${highItems.length}</div>\n          <div style=\"font-size: 13px; color: #666; text-transform: uppercase; letter-spacing: 1px; font-weight: 600;\">High Priority</div>\n        </td>\n      </tr>\n    </table>\n    \n    ${criticalItems.length > 0 ? `\n    <!-- Critical Items Section -->\n    <div style=\"padding: 30px;\">\n      <div style=\"display: flex; align-items: center; margin: 0 0 20px 0; padding-bottom: 15px; border-bottom: 3px solid #dc2626;\">\n        <h2 style=\"font-size: 20px; font-weight: 700; margin: 0; color: #333;\">🔴 Critical Priority Items</h2>\n        <span style=\"margin-left: auto; background: #dc2626; color: white; padding: 6px 16px; border-radius: 20px; font-size: 14px; font-weight: 600;\">${criticalItems.length}</span>\n      </div>\n      \n      ${criticalItems.map((item, idx) => `\n        <div style=\"background: #fef2f2; border-left: 4px solid #dc2626; padding: 20px; margin: 15px 0; border-radius: 0 8px 8px 0;\">\n          <div style=\"margin-bottom: 12px;\">\n            <span style=\"display: inline-block; background: #dc2626; color: white; width: 28px; height: 28px; border-radius: 50%; text-align: center; line-height: 28px; font-weight: 700; font-size: 14px; margin-right: 12px;\">${idx + 1}</span>\n            <strong style=\"font-size: 16px; color: #1f2937;\">${item.json.title}</strong>\n          </div>\n          <div style=\"margin: 8px 0; font-size: 13px; color: #666;\">\n            <span style=\"display: inline-block; background: #fee2e2; padding: 4px 10px; border-radius: 4px; margin-right: 8px;\">📍 ${item.json.source_feed}</span>\n            <span style=\"display: inline-block; background: #fee2e2; padding: 4px 10px; border-radius: 4px; margin-right: 8px;\">⚡ Urgency: ${item.json.urgency_score}/10</span>\n            ${item.json.categories && item.json.categories.length > 0 ? item.json.categories.map(cat => \n              `<span style=\"display: inline-block; background: #dbeafe; padding: 4px 10px; border-radius: 4px; margin-right: 8px;\">🏷️ ${cat}</span>`\n            ).join('') : ''}\n          </div>\n          <div style=\"margin-top: 12px;\">\n            <a href=\"${item.json.link}\" style=\"color: #dc2626; text-decoration: none; font-weight: 600; font-size: 14px;\">Read Full Update →</a>\n          </div>\n        </div>\n      `).join('')}\n    </div>\n    ` : ''}\n    \n    ${highItems.length > 0 ? `\n    <!-- High Priority Items Section -->\n    <div style=\"padding: 30px; background: #fafafa;\">\n      <div style=\"display: flex; align-items: center; margin: 0 0 20px 0; padding-bottom: 15px; border-bottom: 3px solid #ea580c;\">\n        <h2 style=\"font-size: 20px; font-weight: 700; margin: 0; color: #333;\">🟠 High Priority Items</h2>\n        <span style=\"margin-left: auto; background: #ea580c; color: white; padding: 6px 16px; border-radius: 20px; font-size: 14px; font-weight: 600;\">${highItems.length}</span>\n      </div>\n      \n      ${highItems.slice(0, 10).map((item, idx) => `\n        <div style=\"background: white; border-left: 4px solid #ea580c; padding: 20px; margin: 15px 0; border-radius: 0 8px 8px 0;\">\n          <div style=\"margin-bottom: 12px;\">\n            <span style=\"display: inline-block; background: #ea580c; color: white; width: 28px; height: 28px; border-radius: 50%; text-align: center; line-height: 28px; font-weight: 700; font-size: 14px; margin-right: 12px;\">${idx + 1}</span>\n            <strong style=\"font-size: 16px; color: #1f2937;\">${item.json.title}</strong>\n          </div>\n          <div style=\"margin: 8px 0; font-size: 13px; color: #666;\">\n            <span style=\"display: inline-block; background: #fff7ed; padding: 4px 10px; border-radius: 4px; margin-right: 8px;\">📍 ${item.json.source_feed}</span>\n            <span style=\"display: inline-block; background: #fff7ed; padding: 4px 10px; border-radius: 4px; margin-right: 8px;\">⚡ Urgency: ${item.json.urgency_score}/10</span>\n          </div>\n          <div style=\"margin-top: 12px;\">\n            <a href=\"${item.json.link}\" style=\"color: #ea580c; text-decoration: none; font-weight: 600; font-size: 14px;\">Read Full Update →</a>\n          </div>\n        </div>\n      `).join('')}\n      \n      ${highItems.length > 10 ? `\n        <div style=\"text-align: center; padding: 20px; color: #666; font-style: italic;\">\n          ... and ${highItems.length - 10} more high priority items\n        </div>\n      ` : ''}\n    </div>\n    ` : ''}\n    \n    <!-- Footer -->\n    <div style=\"background: #1f2937; color: #9ca3af; padding: 30px; text-align: center;\">\n      <p style=\"margin: 0 0 10px 0; font-size: 14px;\">📄 <strong style=\"color: white;\">Full HTML report available locally</strong></p>\n      <p style=\"margin: 0; font-size: 12px; opacity: 0.7;\">Generated by Mycroft Financial Intelligence System</p>\n      <p style=\"margin: 5px 0 0 0; font-size: 11px; opacity: 0.6;\">⏰ ${new Date().toLocaleString()}</p>\n    </div>\n    \n  </div>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    html_email: htmlEmail,\n    total_new: newItems.length,\n    critical_count: criticalItems.length,\n    high_count: highItems.length,\n    item_ids: newItems.map(i => i.json.id), // Track which IDs were sent\n    has_items: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        416
      ],
      "id": "70288b64-0382-42b3-a872-61157c137052",
      "name": "Generate Email"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE regulatory_feeds\nSET \n  email_sent = TRUE,\n  email_sent_at = NOW()\nWHERE \n  (urgency_score > 7 OR impact_level IN ('Critical', 'High'))\n  AND email_sent = FALSE;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        848,
        512
      ],
      "id": "831abc7f-17cd-4370-9b8a-a7cbaa5d9c95",
      "name": "Mark email sent",
      "credentials": {
        "postgres": {
          "id": "bbRl0wBIwYpgwuoE",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Federal Register - Securities": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEC Press Releases": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "FINRA Enforcement News": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "CFTC Regulations": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Investment Advisor Rules": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge All Sources": {
      "main": [
        [
          {
            "node": "Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Data": {
      "main": [
        [
          {
            "node": "Filter Valid Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Content": {
      "main": [
        [
          {
            "node": "Deduplicate by Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate by Link": {
      "main": [
        [
          {
            "node": "Keyword Analysis & Urgency Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Analysis & Urgency Scoring": {
      "main": [
        [
          {
            "node": "Generate HTML Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "High Priority Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Priority Filter": {
      "main": [
        [
          {
            "node": "Fetch new items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Alert": {
      "main": [
        [
          {
            "node": "Mark email sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Report": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Every Day": {
      "main": [
        [
          {
            "node": "Federal Register - Securities",
            "type": "main",
            "index": 0
          },
          {
            "node": "SEC Press Releases",
            "type": "main",
            "index": 0
          },
          {
            "node": "FINRA Enforcement News",
            "type": "main",
            "index": 0
          },
          {
            "node": "CFTC Regulations",
            "type": "main",
            "index": 0
          },
          {
            "node": "Investment Advisor Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Insert data into DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch new items": {
      "main": [
        [
          {
            "node": "Generate Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Email": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "23864318-a924-4f5f-893e-7ad01ccf600b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd9255a6b77cecfa2a0113f9e18af5c705ea1be9dbd097a2fe10c53df63bf753"
  },
  "id": "teJw3w2XmIhqVLjP",
  "tags": [
    {
      "name": "regulatory-intelligence",
      "id": "4J5a4pxME9u7Mw2c",
      "updatedAt": "2025-11-28T15:31:54.134Z",
      "createdAt": "2025-11-28T15:31:54.134Z"
    },
    {
      "name": "production-ready",
      "id": "EGDxP9ehRsaU1tfM",
      "updatedAt": "2025-11-28T16:08:42.193Z",
      "createdAt": "2025-11-28T16:08:42.193Z"
    },
    {
      "name": "financial-compliance",
      "id": "lBKvuLokkttVRGwI",
      "updatedAt": "2025-11-28T15:31:54.146Z",
      "createdAt": "2025-11-28T15:31:54.146Z"
    }
  ]
}