n8n_Workflows/Portfolio_Intelligence_Agent/Portfolio_Intelligence_Workflow.json
{
  "name": "Portfolio Intelligence Agent - CSV",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 17 * * 1-5"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 480]
    },
    {
      "parameters": {
        "filePath": "/Users/sahitinallamolu/mycroft-portfolio/data/holdings.json",
        "options": {}
      },
      "id": "read-holdings",
      "name": "Read Holdings File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [460, 380]
    },
    {
      "parameters": {
        "mode": "binaryToJson",
        "options": {}
      },
      "id": "convert-to-json",
      "name": "Convert to JSON",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [680, 380]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "split-holdings",
      "name": "Split Holdings",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [900, 380]
    },
    {
      "parameters": {
        "url": "=https://query1.finance.yahoo.com/v8/finance/chart/{{ $json.ticker }}?interval=1d&range=1d",
        "options": {}
      },
      "id": "fetch-price",
      "name": "Fetch Stock Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 380]
    },
    {
      "parameters": {
        "jsCode": "// Get Yahoo Finance data\nconst yahooData = $input.item.json;\nconst price = yahooData.chart.result[0].meta.regularMarketPrice;\n\n// Get holding info from earlier nodes\nconst ticker = $input.item.json.ticker;\nconst quantity = $input.item.json.quantity;\nconst sector = $input.item.json.sector;\n\n// Calculate value\nconst value = quantity * price;\n\n// Get today's date\nconst today = new Date().toISOString().split('T')[0];\n\nreturn {\n  json: {\n    date: today,\n    ticker: ticker,\n    quantity: quantity,\n    sector: sector,\n    price: parseFloat(price.toFixed(2)),\n    value: parseFloat(value.toFixed(2))\n  }\n};"
      },
      "id": "extract-price",
      "name": "Extract Price & Calculate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 380]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "aggregate-holdings",
      "name": "Aggregate All Holdings",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1560, 380]
    },
    {
      "parameters": {
        "jsCode": "// Get all holdings\nconst holdings = $input.all().map(item => item.json);\n\n// Calculate total value\nconst totalValue = holdings.reduce((sum, h) => sum + h.value, 0);\n\n// Add weights to each holding\nconst enrichedHoldings = holdings.map(h => ({\n  ...h,\n  weight: parseFloat((h.value / totalValue).toFixed(4))\n}));\n\n// Find top holding\nconst sorted = [...enrichedHoldings].sort((a, b) => b.value - a.value);\nconst topHolding = sorted[0];\n\nreturn {\n  json: {\n    date: holdings[0].date,\n    total_value: parseFloat(totalValue.toFixed(2)),\n    holdings: enrichedHoldings,\n    top_holding: topHolding.ticker,\n    top_holding_weight: topHolding.weight\n  }\n};"
      },
      "id": "calculate-metrics",
      "name": "Calculate Portfolio Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 380]
    },
    {
      "parameters": {
        "filePath": "/Users/sahitinallamolu/mycroft-portfolio/data/daily_summaries.csv",
        "options": {}
      },
      "id": "read-summaries",
      "name": "Read Previous Summaries",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [2000, 380]
    },
    {
      "parameters": {
        "mode": "binaryToJson",
        "options": {
          "jsonParseOptions": "data"
        }
      },
      "id": "convert-csv",
      "name": "Convert CSV to JSON",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [2220, 380]
    },
    {
      "parameters": {
        "jsCode": "// Get the CSV data (array of objects)\nconst summaries = $input.item.json;\n\n// If no data exists or only header, return null\nif (!summaries || summaries.length === 0) {\n  return { json: { yesterday_value: null } };\n}\n\n// Get the most recent entry (last row)\nconst lastEntry = summaries[summaries.length - 1];\n\n// Check if it's just the header row\nif (!lastEntry.total_value || lastEntry.total_value === 'total_value') {\n  return { json: { yesterday_value: null } };\n}\n\nreturn {\n  json: {\n    yesterday_value: parseFloat(lastEntry.total_value)\n  }\n};"
      },
      "id": "get-yesterday",
      "name": "Get Yesterday's Value",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 380]
    },
    {
      "parameters": {
        "jsCode": "// Get today's data from Calculate Portfolio Metrics\nconst portfolioData = $('Calculate Portfolio Metrics').item.json;\nconst todayValue = parseFloat(portfolioData.total_value);\n\n// Get yesterday's value\nconst yesterdayData = $input.item.json;\nconst yesterdayValue = yesterdayData.yesterday_value;\n\n// Calculate daily return\nlet dailyReturn = 0;\nif (yesterdayValue && yesterdayValue > 0) {\n  dailyReturn = (todayValue - yesterdayValue) / yesterdayValue;\n}\n\nreturn {\n  json: {\n    date: portfolioData.date,\n    total_value: todayValue.toFixed(2),\n    daily_return: dailyReturn.toFixed(4),\n    top_holding: portfolioData.top_holding,\n    top_holding_weight: portfolioData.top_holding_weight,\n    holdings: portfolioData.holdings\n  }\n};"
      },
      "id": "calculate-return",
      "name": "Calculate Daily Return",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2660, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY_HERE"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-sonnet-4-20250514"
            },
            {
              "name": "max_tokens",
              "value": "1000"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"user\", \"content\": \"You are analyzing the Mycroft AI Investment Portfolio. Generate 3-4 concise bullet points explaining today's portfolio snapshot for someone learning about portfolio management.\\n\\nData:\\n- Total Value: ${{ $('Calculate Daily Return').item.json.total_value }}\\n- Daily Return: {{ (parseFloat($('Calculate Daily Return').item.json.daily_return) * 100).toFixed(2) }}%\\n- Top Holding: {{ $('Calculate Daily Return').item.json.top_holding }} ({{ (parseFloat($('Calculate Daily Return').item.json.top_holding_weight) * 100).toFixed(1) }}%)\\n\\nFocus on: what the numbers mean, any concentration concerns, and one educational insight. Keep it concise.\"}]"
            }
          ]
        },
        "options": {}
      },
      "id": "generate-ai-summary",
      "name": "Generate AI Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 380]
    },
    {
      "parameters": {
        "jsCode": "// Get Claude's response\nconst claudeResponse = $input.item.json;\nconst summaryText = claudeResponse.content[0].text;\n\n// Clean summary for CSV (remove newlines, escape quotes)\nconst cleanSummary = summaryText\n  .replace(/\\n/g, ' ')\n  .replace(/\"/g, '\"\"')\n  .trim();\n\n// Get portfolio data\nconst portfolioData = $('Calculate Daily Return').item.json;\n\nreturn {\n  json: {\n    date: portfolioData.date,\n    total_value: portfolioData.total_value,\n    daily_return: portfolioData.daily_return,\n    top_holding: portfolioData.top_holding,\n    top_holding_weight: portfolioData.top_holding_weight,\n    ai_summary: cleanSummary,\n    ai_summary_raw: summaryText,\n    holdings: portfolioData.holdings\n  }\n};"
      },
      "id": "extract-summary",
      "name": "Extract AI Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3100, 380]
    },
    {
      "parameters": {
        "fieldToSplitOut": "holdings",
        "options": {}
      },
      "id": "split-for-history",
      "name": "Split Holdings for History",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [3320, 280]
    },
    {
      "parameters": {
        "jsCode": "const holding = $input.item.json;\n\n// Create CSV row\nconst csvRow = `${holding.date},${holding.ticker},${holding.quantity},${holding.price},${holding.value},${holding.weight},${holding.sector}`;\n\nreturn {\n  json: {\n    csv_row: csvRow + '\\n'\n  }\n};"
      },
      "id": "format-history-csv",
      "name": "Format History CSV Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3540, 280]
    },
    {
      "parameters": {
        "fileName": "/Users/sahitinallamolu/mycroft-portfolio/data/portfolio_history.csv",
        "options": {
          "append": true
        }
      },
      "id": "write-history",
      "name": "Append to Portfolio History",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [3760, 280]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\n\n// Create CSV row with quoted summary field\nconst csvRow = `${data.date},${data.total_value},${data.daily_return},${data.top_holding},${data.top_holding_weight},\"${data.ai_summary}\"`;\n\nreturn {\n  json: {\n    csv_row: csvRow + '\\n',\n    ...data\n  }\n};"
      },
      "id": "format-summary-csv",
      "name": "Format Summary CSV Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3320, 480]
    },
    {
      "parameters": {
        "fileName": "/Users/sahitinallamolu/mycroft-portfolio/data/daily_summaries.csv",
        "options": {
          "append": true
        }
      },
      "id": "write-summary",
      "name": "Append to Daily Summary",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [3540, 480]
    },
    {
      "parameters": {
        "fromEmail": "your-email@gmail.com",
        "toEmail": "your-email@gmail.com",
        "subject": "=Mycroft Portfolio Report - {{ $now.format('MMM DD, YYYY') }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body { \n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            max-width: 600px; \n            margin: 0 auto;\n            background-color: #f5f5f5;\n            padding: 20px;\n        }\n        .container {\n            background-color: white;\n            border-radius: 10px;\n            overflow: hidden;\n            box-shadow: 0 2px 10px rgba(0,0,0,0.1);\n        }\n        .header { \n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            color: white; \n            padding: 30px; \n            text-align: center;\n        }\n        .header h1 {\n            margin: 0;\n            font-size: 24px;\n        }\n        .header p {\n            margin: 5px 0 0 0;\n            opacity: 0.9;\n        }\n        .content {\n            padding: 30px;\n        }\n        .metric { \n            background: #f8f9fa;\n            padding: 20px;\n            margin: 15px 0;\n            border-radius: 8px;\n            border-left: 4px solid #667eea;\n        }\n        .metric h3 {\n            margin: 0 0 10px 0;\n            color: #333;\n            font-size: 14px;\n            text-transform: uppercase;\n            letter-spacing: 1px;\n        }\n        .metric .value {\n            font-size: 32px;\n            font-weight: bold;\n            margin: 0;\n            color: #667eea;\n        }\n        .positive { color: #10b981 !important; }\n        .negative { color: #ef4444 !important; }\n        .summary { \n            background: #ecfdf5;\n            padding: 20px;\n            margin: 20px 0;\n            border-radius: 8px;\n            border-left: 4px solid #10b981;\n        }\n        .summary h3 {\n            margin: 0 0 15px 0;\n            color: #065f46;\n        }\n        .summary p {\n            line-height: 1.6;\n            color: #064e3b;\n            margin: 0;\n            white-space: pre-line;\n        }\n        .footer {\n            text-align: center;\n            padding: 20px;\n            color: #666;\n            font-size: 12px;\n            border-top: 1px solid #eee;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>📊 Portfolio Intelligence Report</h1>\n            <p>{{ $now.format('MMMM DD, YYYY') }}</p>\n        </div>\n        \n        <div class=\"content\">\n            <div class=\"metric\">\n                <h3>Portfolio Value</h3>\n                <p class=\"value\">${{ $json.total_value }}</p>\n            </div>\n            \n            <div class=\"metric\">\n                <h3>Daily Return</h3>\n                <p class=\"value {{ parseFloat($json.daily_return) >= 0 ? 'positive' : 'negative' }}\">\n                    {{ parseFloat($json.daily_return) >= 0 ? '+' : '' }}{{ (parseFloat($json.daily_return) * 100).toFixed(2) }}%\n                </p>\n            </div>\n            \n            <div class=\"metric\">\n                <h3>Top Holding</h3>\n                <p class=\"value\" style=\"font-size: 24px;\">\n                    {{ $json.top_holding }}\n                </p>\n                <p style=\"margin: 10px 0 0 0; color: #666;\">\n                    {{ (parseFloat($json.top_holding_weight) * 100).toFixed(1) }}% of portfolio\n                </p>\n            </div>\n            \n            <div class=\"summary\">\n                <h3>🤖 AI Analysis</h3>\n                <p>{{ $json.ai_summary_raw }}</p>\n            </div>\n        </div>\n        \n        <div class=\"footer\">\n            <p><strong>Mycroft Investment Intelligence Framework</strong></p>\n            <p>Educational AI-Powered Portfolio Analysis</p>\n            <p style=\"margin-top: 10px;\">\n                Using AI to Invest in AI: Building and Learning Together\n            </p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email Report",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [3760, 480],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Holdings File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Holdings File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Holdings File": {
      "main": [
        [
          {
            "node": "Convert to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to JSON": {
      "main": [
        [
          {
            "node": "Split Holdings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Holdings": {
      "main": [
        [
          {
            "node": "Fetch Stock Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Stock Price": {
      "main": [
        [
          {
            "node": "Extract Price & Calculate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Price & Calculate": {
      "main": [
        [
          {
            "node": "Aggregate All Holdings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Holdings": {
      "main": [
        [
          {
            "node": "Calculate Portfolio Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Portfolio Metrics": {
      "main": [
        [
          {
            "node": "Read Previous Summaries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Previous Summaries": {
      "main": [
        [
          {
            "node": "Convert CSV to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert CSV to JSON": {
      "main": [
        [
          {
            "node": "Get Yesterday's Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Yesterday's Value": {
      "main": [
        [
          {
            "node": "Calculate Daily Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Daily Return": {
      "main": [
        [
          {
            "node": "Generate AI Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AI Summary": {
      "main": [
        [
          {
            "node": "Extract AI Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract AI Summary": {
      "main": [
        [
          {
            "node": "Split Holdings for History",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Summary CSV Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Holdings for History": {
      "main": [
        [
          {
            "node": "Format History CSV Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format History CSV Row": {
      "main": [
        [
          {
            "node": "Append to Portfolio History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Summary CSV Row": {
      "main": [
        [
          {
            "node": "Append to Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Daily Summary": {
      "main": [
        [
          {
            "node": "Send Email Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-22T00:00:00.000Z",
  "versionId": "1"
}